h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 6px solid rgb(27, 255, 103);
  background-color: rgb(189, 255, 233);
  padding: 10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-left: 6px solid rgb(255, 94, 0);
  background-color: rgb(255, 202, 202);
  padding: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 6px solid red;
  background-color: rgb(255, 250, 202);
  padding: 5px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-left: 6px solid red;
  background-color: lightgrey;
}

p {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container > div {
  background-color: #f6ff71;
  width: 50%;
  margin: 10px;
  line-height: 75px;
}

span {
  margin: 3px;
  padding: 3px;
  border: red solid 3px;
}

input.ng-touched.ng-invalid {
  border: red 3px solid;
}
