h2 {
  text-align: center;
  background-color: red;
  border: black solid 2px;
}

h4,
h3 {
  text-align: center;
  border-bottom: 6px solid red;
  background-color: lightgrey;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container > div {
  background-color: #f6ff71;
  width: 50%;
  margin: 10px;
  line-height: 75px;
}
.flex-container > div > h6 {
  text-align: center;
  color: crimson;
  margin: 5px;
  font-size: 30px;
}

.ngClass1 {
  color: blueviolet;
}
.ngClass2 {
  background-color: chartreuse;
}
.ngClass3 {
  width: 100px;
  height: 100px;
}
