<hr>
<h2>Directives</h2>
<hr>
<ul>
    <li> 1. Class Decorators - @ngModule @Component</li>
    <li> 2. Proparty Decorators- @Input @Output</li>
    <li> 3. Methord Decorators- @HostListaner</li>
    <li> 4. Parameter Decorators- @Inject</li>
</ul>

<h4>Share data between Components</h4>
<ul>
    <li>1. Parent to Child: @Input</li>
    <li>2. Child to Parent: @Output() and EventEmitter</li>
    <li>3. Child to Parent: @ViewChild</li>
    <li>4. sibling: Use Serviecs Unrelated Components</li>
</ul>
<app-parent></app-parent>