h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 6px solid rgb(27, 255, 103);
  background-color: rgb(189, 255, 233);
  padding: 10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-left: 6px solid rgb(255, 94, 0);
  background-color: rgb(255, 202, 202);
  padding: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-bottom: 6px solid red;
  background-color: rgb(255, 250, 202);
  padding: 5px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-left: 6px solid red;
  background-color: lightgrey;
}

p {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  border: black solid 5px;
  margin: 5px;
  text-align: center;
  width: 80%;
}
