<h2 style="text-align: center;">Template Syntax</h2>
<h4>1. String intpulstion</h4>
{{stringInterpulation}}
<img src="{{imageUrl}}" alt="bike">

<h4>2. Tempalte expression</h4>
{{'expression valuse:- '}}{{ 431+34}}

<h4>3. Tempalte Satement</h4>
{{stament()}}

<h4>4. Binding syntax. </h4>
<p>Property and attribute comparison</p>
<div>
    <button [disabled]="condtion">Proparty Button</button>
    <button [attr.disabled]="condtion?'disabled':'null'">attribute Button</button>
</div>
<p>Banding Type</p>
<ol>
    <li>Interpulation</li>
    {{"this is string interpulation"}}
    <li>Property banding</li>
    <input type="text" name="" id="" [value]="value">
    <li>Attrubute banding</li>
    <input type="text" name="" id="" [attr.value]="value">
    <li>Class banding</li>
    <input type="text" name="" id="" [class.inputClass]="condtion">
    <li>Style banding</li>
    <input type="text"><button [style.background-color]="condtion?'red':'green'">Click</button>
    <li>Event banding</li>
    <button (click)="eventBanding()">Click</button>
    <li>Two-way banding</li>
    <input type="text" [(ngModel)]="twoWay">
    {{twoWay}}
    <li>Tempate refernce varbile</li>
    <input type="text" #templateref><button (click)="temp(templateref)">Click</button>
</ol>
<div > 
    <button>{{'interepulation'}}</button>
    <button [disabled]="condtion">Proparty banding</button>
    <button [attr.disabled]="condtion?'disabled':null">Attrubute banding</button>
    <button [class.buttonClass]="condtion">single Class banding</button>
    <button [class]="'button1 button2'">Multipule string Class</button>
    <button [class]="{button1:condtion,button2:!condtion}">multipule object class </button>
</div>
<div >
    <button [style.color]="'red'">single style banding</button>
    <button [style]="{color:'green',width: '100px'}">multipule style banding</button>
</div>
