<h3>Content Child</h3>
<div class="flex-container">
    <div>
        <h4>Content child</h4>
        <app-cont-child>
            <p id="body" #contentChild>My Name: Ajumal Kan</p>
        </app-cont-child>
    </div>
    <div>
        <h4>Content Chilrern</h4>
        <app-cont-child>
            <p id="body" #listContentChildner>My Name: Ajumal Kan</p>
            <p id="body" #listContentChildner>My Name: Jumala</p>
            <p id="body" #listContentChildner>My Name: zhaeer</p>
        </app-cont-child>
    </div>
</div>