#parent {
  width: 49%;
  height: 10%;

  border: black solid 2px;
  background-color: darkgreen;
}

#child {
  width: 49%;
  height: 10%;
  display: inline;
  float: right;
  border: black solid 2px;
  background-color: darkorange;
}
