<h2>http Methord</h2>

<h3>HTTP - GET ,POST ,PUT ,DELELE</h3>
<div style="margin: 30px; background-color: darkorchid;">
    <form [formGroup]="form">
        <label for="">Fast Name</label>
        <input type="text" formControlName="first_name">
        <small *ngIf="eorr">{{eorr}}</small>
        <label for="">Last Name</label>
        <input type="text" formControlName="last_name">
        <label for="">Email</label>
        <input type="text" formControlName="email">
        <label for="">gender</label>
        <div>
            <input type="radio" formControlName="gender" value="male">Male
            <input type="radio" formControlName="gender" value="female">Female
        </div>
        <button type="button" (click)="postrequst()">Post</button>
        <button type="button" (click)="putRequest(2)">Put</button>
        <button type="button" (click)="deleteRequst(5)">Delete</button>
    </form>
</div>

<button (click)="getRequest()">GET</button>
<div *ngFor="let item of user">
   <div style="background-color: rgb(221, 255, 255);">
    <p>Id :{{item.id}} | Gender: {{item.gender}} </p>
    <p>Name: {{item.first_name}} {{item.last_name}}</p>
    <p>Email: {{item.email}}</p>
   </div>
</div>


<h3>JWT-Token</h3>

<div style="background-color: rgb(208, 255, 161); border: black solid 5px; text-align: center;">
    <h4>Token</h4>
    <form [formGroup]="loginForm">
        <label for="">UserName</label>
        <input type="text" formControlName="username">
        <label for="">Password</label>
        <input type="text" formControlName="password">
        <button (click)="login()">Login</button>
    </form>
</div>
<div style="background-color: rgb(255, 161, 161); border: black solid 5px; text-align: center;">
    <h4>Token Pass Hadeer Api</h4>
    <button (click)="tokenValidation()">Tokan backEnd Validation</button>
</div>

<div style="background-color: rgb(225, 255, 93); border: black solid 5px; text-align: center;">
    <h4>Http Event</h4>
    <button type="button" (click)="eventButtion()">Event button</button>
</div>