<h3>View Child - Component</h3>
<div  class="flex-container">
    <div>
        <h4>Parent Component</h4>
        <button (click)="Ingreement()">Ingreement</button>
        <button (click)="Dicrement()">Dicrement</button>
    </div>
    <div>
        <h4>Child Component</h4>
        <app-view-child></app-view-child>
    </div>
</div>

<h3>View Child - Element</h3>

<div class="flex-container">
    <div #viewChildElement>
        <h4>Element child</h4>
        <p>chaild element Data here..</p>
    </div>
    <div>
        <h4>Elemnt Parent</h4>
        <p>Child value:{{ elementValue }}</p>
    </div>
</div>
