<h4>Form control </h4>
<label for="">
    name
    <input type="text" [formControl]="name"> value : {{name.value}}
    <button (click)="FormControlsetValue()">FormControl setValue</button>
    <button (click)="FormControlreset()">FormControl reset</button>
    <button (click)="FormControlChangeVaule()">FormControl ChangeVaule</button>
</label>

<h4>FormGroup and FormArray</h4>

<form [formGroup]="form" (ngSubmit)="submit()">
    <label for="">Name 
        <input type="text" formControlName="name">
    </label>
    <label for="">Email 
        <input type="text" formControlName="email">
    </label>
<div formArrayName="users" *ngFor="let item of user.controls; index as idx" >
    <label for="">User 
        <input type="text" [formControlName]="idx">
        <button type="button" (click)="deleteFiled(idx)" >Delete</button>
    </label>
</div>

    <button type="button" (click)="addUserFiled()">Add new Felid</button>
    <button type="submit">Submit</button>
</form>

<h4>FormBuilder</h4>

<form style="background-color: blueviolet;" [formGroup]="fbform" (ngSubmit)="fbformSumbit()">
    <label for="">Name
        <input type="text" formControlName="name">
    </label>
    <label for="">email
        <input type="text" formControlName="email">
    </label>
    <div style="background-color: blanchedalmond;margin: 10px;" formGroupName="address">
        formGroup
        <input type="text" formControlName="phone">
        <input type="text" formControlName="pincode">
    </div>
    <button type="submit">submit</button>
</form>


<h4>Vaudations</h4>

<form [formGroup]="valdationForm" (ngSubmit)="valudationtest()" >
    <p for="">
        name
        <input type="text" formControlName="name" (input)="change()">
        dirty: {{valdationForm.controls.name.dirty }} | invalid:  {{valdationForm.controls.name.invalid }}| touched: {{valdationForm.controls.name.touched }}
    </p> 
    <small *ngIf="valdationForm.controls.name.invalid && (valdationForm.controls.name.dirty || valdationForm.controls.name.touched)" >
        <span *ngIf="valdationForm.controls.name.errors?.required">
            Name is required.
        </span>
        <span *ngIf="valdationForm.controls.name.errors?.maxlength">
            Name must be at least 4 characters long.
        </span>
    </small>
    <p for="">
        emai
        <input type="text" formControlName="email">
    </p>
    <p for="">
        city
        <input type="text" formControlName="city">
    </p>

    <button type="submit" [disabled]="this.valdationForm.invalid">Submit</button>
</form>